<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @audio.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @audio.subtitulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @audio.autor %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @audio.colaborador %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @audio.clasificacion %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @audio.editorial %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @audio.edicion %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @audio.edicion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @audio.serie %>
</p>

<p>
  <strong>Traduccion:</strong>
  <%= @audio.traduccion %>
</p>

<p>
  <strong>Bibliografia:</strong>
  <%= @audio.bibliografia %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @audio.indice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @audio.apendice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @audio.apendice %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @audio.isbn %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @audio.contenido %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @audio.cantidad %>
</p>

<p>
  <strong>Acervo:</strong>
  <%= @audio.acervo %>
</p>

<p>
  <strong>Ano publicacion:</strong>
  <%= @audio.ano_publicacion %>
</p>

<p>
  <strong>Anaquel:</strong>
  <%= @audio.anaquel %>
</p>

<p>
  <strong>Peldano:</strong>
  <%= @audio.peldano %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
