<p id="notice"><%= notice %></p>

<h1>Listing Videos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Autor</th>
      <th>Colaborador</th>
      <th>Clasificacion</th>
      <th>Editorial</th>
      <th>Edicion</th>
      <th>Edicion</th>
      <th>Serie</th>
      <th>Traduccion</th>
      <th>Bibliografia</th>
      <th>Indice</th>
      <th>Apendice</th>
      <th>Apendice</th>
      <th>Isbn</th>
      <th>Contenido</th>
      <th>Cantidad</th>
      <th>Acervo</th>
      <th>Ano publicacion</th>
      <th>Anaquel</th>
      <th>Peldano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.titulo %></td>
        <td><%= video.subtitulo %></td>
        <td><%= video.autor %></td>
        <td><%= video.colaborador %></td>
        <td><%= video.clasificacion %></td>
        <td><%= video.editorial %></td>
        <td><%= video.edicion %></td>
        <td><%= video.edicion %></td>
        <td><%= video.serie %></td>
        <td><%= video.traduccion %></td>
        <td><%= video.bibliografia %></td>
        <td><%= video.indice %></td>
        <td><%= video.apendice %></td>
        <td><%= video.apendice %></td>
        <td><%= video.isbn %></td>
        <td><%= video.contenido %></td>
        <td><%= video.cantidad %></td>
        <td><%= video.acervo %></td>
        <td><%= video.ano_publicacion %></td>
        <td><%= video.anaquel %></td>
        <td><%= video.peldano %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
