<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @video.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @video.subtitulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @video.autor %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @video.colaborador %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @video.clasificacion %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @video.editorial %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @video.edicion %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @video.edicion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @video.serie %>
</p>

<p>
  <strong>Traduccion:</strong>
  <%= @video.traduccion %>
</p>

<p>
  <strong>Bibliografia:</strong>
  <%= @video.bibliografia %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @video.indice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @video.apendice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @video.apendice %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @video.isbn %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @video.contenido %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @video.cantidad %>
</p>

<p>
  <strong>Acervo:</strong>
  <%= @video.acervo %>
</p>

<p>
  <strong>Ano publicacion:</strong>
  <%= @video.ano_publicacion %>
</p>

<p>
  <strong>Anaquel:</strong>
  <%= @video.anaquel %>
</p>

<p>
  <strong>Peldano:</strong>
  <%= @video.peldano %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
