<p id="notice"><%= notice %></p>

<h1>Listing Libraries</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Autor</th>
      <th>Colaborador</th>
      <th>Clasificacion</th>
      <th>Editorial</th>
      <th>Edicion</th>
      <th>Edicion</th>
      <th>Serie</th>
      <th>Traduccion</th>
      <th>Bibliografia</th>
      <th>Indice</th>
      <th>Apendice</th>
      <th>Apendice</th>
      <th>Isbn</th>
      <th>Contenido</th>
      <th>Cantidad</th>
      <th>Acervo</th>
      <th>Ano publicacion</th>
      <th>Anaquel</th>
      <th>Peldano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td><%= library.titulo %></td>
        <td><%= library.subtitulo %></td>
        <td><%= library.autor %></td>
        <td><%= library.colaborador %></td>
        <td><%= library.clasificacion %></td>
        <td><%= library.editorial %></td>
        <td><%= library.edicion %></td>
        <td><%= library.edicion %></td>
        <td><%= library.serie %></td>
        <td><%= library.traduccion %></td>
        <td><%= library.bibliografia %></td>
        <td><%= library.indice %></td>
        <td><%= library.apendice %></td>
        <td><%= library.apendice %></td>
        <td><%= library.isbn %></td>
        <td><%= library.contenido %></td>
        <td><%= library.cantidad %></td>
        <td><%= library.acervo %></td>
        <td><%= library.ano_publicacion %></td>
        <td><%= library.anaquel %></td>
        <td><%= library.peldano %></td>
        <td><%= link_to 'Show', library %></td>
        <td><%= link_to 'Edit', edit_library_path(library) %></td>
        <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %>
