<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @library.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @library.subtitulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @library.autor %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @library.colaborador %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @library.clasificacion %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @library.editorial %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @library.edicion %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @library.edicion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @library.serie %>
</p>

<p>
  <strong>Traduccion:</strong>
  <%= @library.traduccion %>
</p>

<p>
  <strong>Bibliografia:</strong>
  <%= @library.bibliografia %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @library.indice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @library.apendice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @library.apendice %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @library.isbn %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @library.contenido %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @library.cantidad %>
</p>

<p>
  <strong>Acervo:</strong>
  <%= @library.acervo %>
</p>

<p>
  <strong>Ano publicacion:</strong>
  <%= @library.ano_publicacion %>
</p>

<p>
  <strong>Anaquel:</strong>
  <%= @library.anaquel %>
</p>

<p>
  <strong>Peldano:</strong>
  <%= @library.peldano %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
