<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @news.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @news.subtitulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @news.autor %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @news.colaborador %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @news.clasificacion %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @news.editorial %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @news.edicion %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @news.edicion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @news.serie %>
</p>

<p>
  <strong>Traduccion:</strong>
  <%= @news.traduccion %>
</p>

<p>
  <strong>Bibliografia:</strong>
  <%= @news.bibliografia %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @news.indice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @news.apendice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @news.apendice %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @news.isbn %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @news.contenido %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @news.cantidad %>
</p>

<p>
  <strong>Acervo:</strong>
  <%= @news.acervo %>
</p>

<p>
  <strong>Ano publicacion:</strong>
  <%= @news.ano_publicacion %>
</p>

<p>
  <strong>Anaquel:</strong>
  <%= @news.anaquel %>
</p>

<p>
  <strong>Peldano:</strong>
  <%= @news.peldano %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
