<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @document.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @document.subtitulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @document.autor %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @document.colaborador %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @document.clasificacion %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @document.editorial %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @document.edicion %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @document.edicion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @document.serie %>
</p>

<p>
  <strong>Traduccion:</strong>
  <%= @document.traduccion %>
</p>

<p>
  <strong>Bibliografia:</strong>
  <%= @document.bibliografia %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @document.indice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @document.apendice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @document.apendice %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @document.isbn %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @document.contenido %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @document.cantidad %>
</p>

<p>
  <strong>Acervo:</strong>
  <%= @document.acervo %>
</p>

<p>
  <strong>Ano publicacion:</strong>
  <%= @document.ano_publicacion %>
</p>

<p>
  <strong>Anaquel:</strong>
  <%= @document.anaquel %>
</p>

<p>
  <strong>Peldano:</strong>
  <%= @document.peldano %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
