<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @book.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @book.subtitulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.autor %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @book.colaborador %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @book.clasificacion %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @book.editorial %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @book.edicion %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @book.edicion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @book.serie %>
</p>

<p>
  <strong>Traduccion:</strong>
  <%= @book.traduccion %>
</p>

<p>
  <strong>Bibliografia:</strong>
  <%= @book.bibliografia %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @book.indice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @book.apendice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @book.apendice %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @book.contenido %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @book.cantidad %>
</p>

<p>
  <strong>Acervo:</strong>
  <%= @book.acervo %>
</p>

<p>
  <strong>Ano publicacion:</strong>
  <%= @book.ano_publicacion %>
</p>

<p>
  <strong>Anaquel:</strong>
  <%= @book.anaquel %>
</p>

<p>
  <strong>Peldano:</strong>
  <%= @book.peldano %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
