<%= form_for(@historical) do |f| %>
  <% if @historical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@historical.errors.count, "error") %> prohibited this historical from being saved:</h2>

      <ul>
      <% @historical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :subtitulo %><br>
    <%= f.text_field :subtitulo %>
  </div>
  <div class="field">
    <%= f.label :autor %><br>
    <%= f.text_field :autor %>
  </div>
  <div class="field">
    <%= f.label :colaborador %><br>
    <%= f.text_field :colaborador %>
  </div>
  <div class="field">
    <%= f.label :clasificacion %><br>
    <%= f.text_field :clasificacion %>
  </div>
  <div class="field">
    <%= f.label :editorial %><br>
    <%= f.text_field :editorial %>
  </div>
  <div class="field">
    <%= f.label :edicion %><br>
    <%= f.text_field :edicion %>
  </div>
  <div class="field">
    <%= f.label :edicion %><br>
    <%= f.text_field :edicion %>
  </div>
  <div class="field">
    <%= f.label :serie %><br>
    <%= f.text_field :serie %>
  </div>
  <div class="field">
    <%= f.label :traduccion %><br>
    <%= f.text_field :traduccion %>
  </div>
  <div class="field">
    <%= f.label :bibliografia %><br>
    <%= f.text_field :bibliografia %>
  </div>
  <div class="field">
    <%= f.label :indice %><br>
    <%= f.text_field :indice %>
  </div>
  <div class="field">
    <%= f.label :apendice %><br>
    <%= f.text_field :apendice %>
  </div>
  <div class="field">
    <%= f.label :apendice %><br>
    <%= f.text_field :apendice %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br>
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br>
    <%= f.text_field :contenido %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :acervo %><br>
    <%= f.text_field :acervo %>
  </div>
  <div class="field">
    <%= f.label :ano_publicacion %><br>
    <%= f.text_field :ano_publicacion %>
  </div>
  <div class="field">
    <%= f.label :anaquel %><br>
    <%= f.text_field :anaquel %>
  </div>
  <div class="field">
    <%= f.label :peldano %><br>
    <%= f.text_field :peldano %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
