<p id="notice"><%= notice %></p>

<h1>Listing Historicals</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Subtitulo</th>
      <th>Autor</th>
      <th>Colaborador</th>
      <th>Clasificacion</th>
      <th>Editorial</th>
      <th>Edicion</th>
      <th>Edicion</th>
      <th>Serie</th>
      <th>Traduccion</th>
      <th>Bibliografia</th>
      <th>Indice</th>
      <th>Apendice</th>
      <th>Apendice</th>
      <th>Isbn</th>
      <th>Contenido</th>
      <th>Cantidad</th>
      <th>Acervo</th>
      <th>Ano publicacion</th>
      <th>Anaquel</th>
      <th>Peldano</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historicals.each do |historical| %>
      <tr>
        <td><%= historical.titulo %></td>
        <td><%= historical.subtitulo %></td>
        <td><%= historical.autor %></td>
        <td><%= historical.colaborador %></td>
        <td><%= historical.clasificacion %></td>
        <td><%= historical.editorial %></td>
        <td><%= historical.edicion %></td>
        <td><%= historical.edicion %></td>
        <td><%= historical.serie %></td>
        <td><%= historical.traduccion %></td>
        <td><%= historical.bibliografia %></td>
        <td><%= historical.indice %></td>
        <td><%= historical.apendice %></td>
        <td><%= historical.apendice %></td>
        <td><%= historical.isbn %></td>
        <td><%= historical.contenido %></td>
        <td><%= historical.cantidad %></td>
        <td><%= historical.acervo %></td>
        <td><%= historical.ano_publicacion %></td>
        <td><%= historical.anaquel %></td>
        <td><%= historical.peldano %></td>
        <td><%= link_to 'Show', historical %></td>
        <td><%= link_to 'Edit', edit_historical_path(historical) %></td>
        <td><%= link_to 'Destroy', historical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historical', new_historical_path %>
