<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @historical.titulo %>
</p>

<p>
  <strong>Subtitulo:</strong>
  <%= @historical.subtitulo %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @historical.autor %>
</p>

<p>
  <strong>Colaborador:</strong>
  <%= @historical.colaborador %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @historical.clasificacion %>
</p>

<p>
  <strong>Editorial:</strong>
  <%= @historical.editorial %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @historical.edicion %>
</p>

<p>
  <strong>Edicion:</strong>
  <%= @historical.edicion %>
</p>

<p>
  <strong>Serie:</strong>
  <%= @historical.serie %>
</p>

<p>
  <strong>Traduccion:</strong>
  <%= @historical.traduccion %>
</p>

<p>
  <strong>Bibliografia:</strong>
  <%= @historical.bibliografia %>
</p>

<p>
  <strong>Indice:</strong>
  <%= @historical.indice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @historical.apendice %>
</p>

<p>
  <strong>Apendice:</strong>
  <%= @historical.apendice %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @historical.isbn %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @historical.contenido %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @historical.cantidad %>
</p>

<p>
  <strong>Acervo:</strong>
  <%= @historical.acervo %>
</p>

<p>
  <strong>Ano publicacion:</strong>
  <%= @historical.ano_publicacion %>
</p>

<p>
  <strong>Anaquel:</strong>
  <%= @historical.anaquel %>
</p>

<p>
  <strong>Peldano:</strong>
  <%= @historical.peldano %>
</p>

<%= link_to 'Edit', edit_historical_path(@historical) %> |
<%= link_to 'Back', historicals_path %>
